*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #C5CAF6;
}
.flex{
    display: flex;
}
.left-side{
    background: #232533;
    width: 13vw;
    /* height: 100vh; */
    /* position: fixed; */
}
.streamix{
    margin-top: 30px;
    max-width: 100%;
}
.logo{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
ul{
  text-align: left;  
}
li{
    padding: 15px;
}
ul a:first-child{
    border-radius: 55px 0 0 56px;
    background: #13141c;
    margin: 10px 0 0 10px;
}
li:hover{
    border-radius: 55px 0 0 56px;
    background: #13141c;
    margin: 10px 0 0 10px;
}
#logout{
    margin-top: 115px;
}

.main-content{
    width: 71vw;
    /* height: 100vh; */
    background: #0E0F15;
    padding: 0 50px;
}
.nav-bar{
    display: flex;
    margin-top: 40px;
}

#search{
    width: 190px;
    /* height: 32px; */
    border: none;
    border-radius: 10px;
    padding: 10px 35px 10px 10px;
    outline: none;
    background: #484b61;
    color: #d1d3e6;
}
.mr-35{
    margin: -35px;
    cursor: pointer;
    color: #d1d3e6;
}
.noti-chat{
    display: flex;
    margin: 0 0 0 113px;
    justify-content: space-between;
    width: 100px;
}

.right-side{
    background: #232533;
    width: 20vw;
    /* height: 100vh; */
    /* position: fixed; */
}



