*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sf-compact-display;
    font-size: 18px;
}
@font-face {
    font-family:sf-compact-display ;
    src: url(/Streamix/sf-compact-display-medium-5864711817c30.otf);
}
a{
    text-decoration: none;
    color: #C5CAF6;
}
.flex{
    display: flex;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #979bb6;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.home-section{
  position: relative;
  background: #0E0F15;
  min-height: 100vh;
  top: 0;
  left: 38px;
  max-width: 100%;
  transition: all 0.5s ease;
  z-index: 2;
  padding: 0 100px;
}
/* .sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
} */

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.nav-bar{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
#search{
    width: 190px;
    /* height: 32px; */
    border: none;
    border-radius: 20px;
    padding: 10px 40px 10px 20px;
    outline: none;
    background: #484b61;
    color: #d1d3e6;
}
.mr-35{
    margin: -35px;
    cursor: pointer;
    color: #d1d3e6;
}
.noti-chat{
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.watch-list-and-share{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.watch-list{
    width: 100px;
    height: 40px;
    background: #262837;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.watch-list p{
    color: #C5CAF6;
    font-size: 12px;
}
.share{
    display: flex;
    align-items: center;
}
.ad-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 36px;
}
.ad{
    width: 100%;
    height: 60px;
    background: #252736;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 28px;
}
.create-profile{
    color: #0088FF;
    border: 1px solid;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 11px;
    height: 36px;
    margin: auto 12px;
}
.streaming{
    display: flex;
    justify-content: space-between;
}
.streaming p{
    color: #ffff;
    font-size: 24px;
}
#movies{
    background: none;
    border: none;
    outline: none;
    color: #ffff;
}
#movies option{
    color: #ffff;
    background:#232533;
}
.streaming-contents{
  margin: 33px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 20px;
}
.stream-video{
  width: 202px;
  height: 240px;
  background-color: #101118;
}
.stream-preview{
  width: 100%;
  height: fit-content;
  border-radius: 8px 8px 0 0;
}
.stream-video img{
  width: 100%;
  height: 142px;
}
.video-info{
  padding: 13px;
}
.moviename{
  color: #FFFFFF;
}
.watching-add{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.watching{
  display: flex;
  align-items: center;
}
.watching div{
  display: flex;
}
.add{
  display: flex;
  align-items: center;
}
.right-side{
  background: #232533;
  position: relative;
  z-index: 3;
}
.user{
  /* border: 1px solid red; */
  width: 80%;
  height: 50px;
  margin: 30px auto;
  display: flex;
}
.user-dp{
  width: 42px;
  height: 42px;
  border-radius: 123px;
}
.user-name-and-gmail{
  padding: 4px 0px 0px 8px;
}
.name{
  font-size: 15px;
  color: #ffff;
  padding-bottom: 3px;
}
.mail{
  font-size: 11px;
  color: #C5CAF6;
}
.pro-user{
  width: 120px;
  height: 20px;
  background-color: #FDD231;
  text-align: center;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;;
}
.go-live{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 50px;
  margin: auto;
  border-radius: 23px;
  background-image: linear-gradient(#0088FF, #0F9AFF);
  box-shadow: 0px 5.06024px 32.3855px rgba(49, 168, 255, 0.34);
}
.go-live p{
  color: #FFFFFF;
  font-size: 25px;
  padding: 10px;
}
.game-streaming{
  margin: 40px 0 0;
}
.game-streaming-hearder{
  display: flex;
  justify-content: center;
}
.game-streaming-hearder p{
  font-size: 24px;
  color: #C4C8ED;
  display: flex;
  align-items: center;
}
.streams{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 12px;
  gap: 16px;
}
.game1 {
  width: 120px;
  height: 75px;
  border-radius: 15px;
  background-image: url(/Streamix/game1.png);
  background-repeat: no-repeat;
}
.game2 {
  width: 120px;
  height: 75px;
  border-radius: 15px;
  background-image: url(/Streamix/game2.png);
  background-repeat: no-repeat;
}
.game3 {
  width: 120px;
  height: 75px;
  border-radius: 15px;
  background-image: url(/Streamix/game3.png);
  background-repeat: no-repeat;
  backdrop-filter: blur(1px);
}
.game4 {
  width: 120px;
  height: 75px;
  border-radius: 15px;
  background-image: url(/Streamix/game4.png);
  background-repeat: no-repeat;
}
.liveandwatching{
  display: flex;
  justify-content: space-between;
  padding: 3px 8px;
}
.live{
  color: #fff;
  font-size: 8px;
}
.gamer-profile{
  display: flex;
  align-items: center;
  padding: 13px 7px 0;
}
.gamer-name{
  color: #FFFFFF;
  font-size: 10px;
  padding-left: 5px;
}
/* .favourite-streamers{

} */
.favourite-streamers p{
  font-size: 24px;
  color: #C4C8ED;
  padding: 20px;
}
.fav-streamers{
   display: flex;
   justify-content: space-evenly;
   align-items: baseline;
}
.streamers{
  width: 40px;
  height: 40px;
  border-radius: 300px;

}
/* .friends{
   
} */
.friends p{
  font-size: 24px;
  color: #C4C8ED;
  padding: 20px;
}
.Friends{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.streamer-friends{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.streamer-friends img{
  width: 47px;
  height: 48px;
}
/* .name-and-followers{
} */
/* .name{
  font-size: 20px;
} */
.followers{
  color: #C5CAF6;
  font-size: 12px;
}
@media (max-width:1000px){
 .sidebar{
    width: 60px;
    padding: 6px 6px;
  }
  .right-side{
    display: none;
  }
  .mr-35{
   display: none;
}
.noti-chat{
  display: none;
}
.watch-list-and-share{
  display: none;
}
.watch-list{
  display: none;
}
.watch-list p{
  display: none;
}
.share{
  display: none;
}
.home-section{
  padding: 0 20px;
}
}


